    .nav {
        overflow: hidden;
        background-color: lightsteelblue;
        border-bottom: 3px solid white;   
    }
    
    .nav a {
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 25px;
        text-shadow: 1px 1px 2px black;
    }

    .nav a:hover {
        color: darkred;
        border-bottom: 3px solid darkred;
    }

    .logo {
        position: absolute; 
        margin-top: 0.6%; 
        margin-left: 1%;
        font-size: 45px;
        color: white;
        font-weight: 700;
        text-shadow: 1px 1px 2px black;
    }

    .slogan {
        font-style: italic;
        font-weight: 500;
        font-size: large;
    }
    
    .centered {
        position: absolute;
        color: lightgray;
        font-size: 55px;
        text-shadow: 1px 1px 2px black;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    body {
        background-color: lightsteelblue;
        color: darkred;
        font-size: 24px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #footLink {
        color: white;
        text-decoration: none;
    }

    #footLink:hover {
        color: darkred;
    }

    h1, h2, h3 {
        text-align: center;
    }

    .newsBox {
        border: 4px solid gold;
        padding-left: 0.5%;
        background-image: url("client_images/giphy.gif");
        background-repeat: no-repeat;
        background-size: cover;
        color: goldenrod;
    }

    .parallax {
        background-image: url("client_images/baroneTruck.png");
        min-height: 700px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-page {
        height: 400px;
    }

    #link2 {
        text-shadow: none;
        color: darkred;
    }

    .caption {
        text-align: center;
        font-style: italic;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }

    .center2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }

    .center3 {
        margin-right: auto;
        display: flex;
        width: 35%;
    }

    .center4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    p, #apply-form, #list, .caption {
        color: #1c1c1c;
    }

    #footer {
        text-align: center;
    }

    #dropdown {
        height: 25px;
    }

    #application {
        text-align: center;
    }

    #add-work-btn {
        height: 30px;
        width: 75px;
    }

    form {
        width: 60vw;
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    fieldset {
        padding: 1rem;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
    }   

    /* Rule Overrides For Laptops / Small Screens */
    @media screen and (min-width: 981px) and (max-width: 1400px) {
        body {
            font-size: 100%;
        }
    }

    /* Rule Overrides For Tablet Devices */
    @media screen and (min-width: 601px) and (max-width: 980px) {
        body {
            font-size: 75%;
        }
    }

    /* Rule Overrides For Mobile Devices */
    @media screen and (min-width: 370px) and (max-width: 600px) {
        body {
            font-size: 65%;
        }
    }   


    