body {
    background-color: grey;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

img {
    width: 100%;
}

figure {
    text-align: center;
    font-style: italic;
}

main > ul {
    text-align: left;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
}
thead {
    background-color: silver;
}

th, td {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: black;
    border-style: solid;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

.right {
    text-align: right;
}

tbody tr:nth-child(even) td {
    background-color: silver;
}

caption {
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
}

footer {
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    padding: 1rem;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
    
label {
    display: block;
    margin: 0.5rem 0;
}

table {
    margin-left:auto;
    margin-right:auto;
}

.list {
    text-align: center;
    list-style-position: inside;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body{font-size:11px}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    body{font-size:12px}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    body{font-size:12px}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    body{font-size:14px}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    body{font-size:14px}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    body{font-size:14px}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    body{font-size:14px}
}
