    <footer>
        <nav>
            <a href="https://webpages.uncc.edu/cjenni26/">Charlotte.edu</a>
            ||
            <a href="https://github.com/cagej/cagej.github.io">Github</a>
            ||
            <a href="https://cagej.github.io/itis3135">Github.io</a>
            ||
            <a href="https://www.freecodecamp.org/cage">freeCodeCamp</a>
            ||
            <a href="https://www.codecademy.com/profiles/cagej">Codecademy</a>
            ||
            <a href="https://www.linkedin.com/in/cage-jennings-9198072aa/">LinkedIn</a>
        </nav>
        <p>Page built by <a href="cooljaguar.com" target="_blank">Cool Jaguar LLC</a> &copy; 2023, <a href="https://freecodecamp.org/certification/Cage/responsive-web-design" 
            target="_blank">Certified in RWD</a></p>
        <p><i>"If money could buy better, there'd be nothing to buy."</i></p>
    
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
            <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
           </a>
           <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
             </a>

             <button type="button" onclick="document.querySelectorAll('link[rel=stylesheet]').forEach(function(e){e.setAttribute('href', '');});">No CSS</button>
        </footer>   